header {
  background-color: #000;
  color: white;
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 1rem 0;

  .nav {
    display: flex;
    justify-content: space-between;
    .nav-logo {
      padding-left: 1rem;
      font-family: 'Qwitcher Grypen', cursive;
      .logo {
        font-size: 3rem;
        margin: 0;
      }
    }

    .nav-menu {
      display: flex;
      align-items: center;
      padding-right: 1rem;
      .menu-list {
        display: flex;
        transition: 0.5s;
        .menu-item {
          list-style: none;
          transition: 0.5s;
          font-weight: bold;
          font-size: 1.3rem;
          &:not(:first-child) {
            margin-left: 1rem;
          }
          &:hover {
            transform: scale(1.2);

            a {
              color: orange;
            }
          }

          a {
            text-decoration: none;
            color: white;
          }
        }
      }

      .menu-close-btn {
        display: none;
        position: absolute;
        right: 1rem;
      }
    }

    .menu-open-btn {
      display: none;
      position: absolute;
      right: 1rem;
    }
  }
}

/* Mobile */
@media (max-width: 500px) {
  header {
    .nav {
      .nav-menu {
        position: fixed;
        background-color: #000;
        padding: 0;
        .menu-list {
          width: 100vw;
          height: 100vh;
          padding: 0;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          align-content: center;
          .menu-item {
            font-size: 2rem;
            margin-top: 1rem;
          }
        }

        .menu-close-btn {
          display: inline;
          font-size: 1.2rem;
          right: 1rem;
          top: 1rem;
        }
      }
      .menu-open-btn {
        display: inline;
        font-size: 1.2rem;
        right: 1rem;
        top: 2rem;
      }
    }
  }
}
